@font-face {
	font-family: chun;
	src: url(../human.eot);
	src: local(¡Ø), url(../human.woff) format("woff");
}
div#all #head {
	padding: 10px;
	/*border-top: 3px dotted #eee;
	border-bottom: 3px dotted #eee;*/
	text-align: center;
	background: url(../image/banner.gif) no-repeat center;
	height: 70px;
}
div#all #head #select_in_head {
	font-size: 50px;
	font-family: chun;
	color: #555;
	border: 0px solid black;
	height: 73px;
	padding-top: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
div#all #head #workplaceList {
	z-index: 10;
	background-color: #dfc588;
	position: absolute;
	top: 80px;
	left: 350px;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}
div#all #head #workplaceList table {
	border: 2px transparent;
}
div#all #head #workplaceList td {
	width: 120px;
	height: 30px;
	border: 1px #ccc;
}
div#all #head #head_in #workplace {
	display: none;
}
div#all #head select {
	font-size: 50px;
	font-family: chun;
	color: #555;
	border: 0px solid white;
	background-color: #f5f2ed;
	height: 63px;
	/*width: 300px;*/
	text-align: right;
}
div#all #head select option {
	text-align: right;
}

/*****************************content*/
div#all #content {
	text-align: center;
}
div#all #content #cal_top {
	position: relative;
}
div#all #content #cal_top #yearMonth {
	text-align: left;
	margin-left: 100px;
	width: 400px;
}
div#all #content #cal_top #yearMonth img{
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
div#all #content #cal_top #month {
	font-size: 50px;
}
div#all #content #cal_top #displayWho {
	width: 680px;
	top: 30px;
	right: 50px;
	position: absolute;
}
div#all #content #cal_top #displayWho div{
	position: relative;
	margin-left: 50px;
	cursor: pointer;
	display: inline;
}
div#all #content #cal_top #displayWho span{
	font-size: 25px;
	color: #666;
}
div#all #content #cal_top #displayWho img {
	position: absolute;
	margin-left: 5px;
	bottom: -1px;
}
/*****************************calender*/
div#all #calender{
	margin-left: auto;
	margin-right: auto;
	width: 1074px;
}
div#all #calender table{
	margin-top: 10px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 3px solid #999;
}
div#all #calender tr{
	border: 1px solid #999;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
}
div#all #calender th{
	height: 20px;
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom: 1px solid white;
}
div#all #calender td{
	width: 150px;
	height: 100px;
}
/*****************************shadow*/
div#shadow {
	width: 1200px;
	height: 890px;
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../image/loading_s.png') no-repeat center;
}